<div class="container-fluid">
    <div class="modal-body">
        <h2 class="text-center mb-4">Add New Employee</h2>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label class="control-label" for="FirstName">First Name</label>
                    <input class="form-control" id="FirstName" placeholder="Enter Name" type="text" [(ngModel)]="PostEmployee_dto.firstName" />
                </div>
            </div>
        
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label class="control-label" for="LastName">Last Name</label>
                    <input class="form-control" id="LastName" placeholder="Enter Name" type="text" [(ngModel)]="PostEmployee_dto.lastName" />
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label class="control-label" for="Salary">Salary</label>
                    <input class="form-control" id="Salary" placeholder="Enter Salary" type="text" [(ngModel)]="PostEmployee_dto.salary"/>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label class="control-label" for="Department" >Department</label>
                    <select name="Department"  class="form-select" aria-label="Default select example" [(ngModel)]="PostEmployee_dto.department" (ngModelChange)="onDropdownChange($event)">  
                        <option [ngValue]="null">Select a department</option>                    
                        <option [ngValue]="department.departmentId" *ngFor="let department of departmentList">
                            {{ department.departmentName }}
                        </option>
                    </select>                       
                </div>
            </div>

            <div class="col-12 mb-3">
                <div class="form-group" *ngIf="gender.length">
                    <label for="Gender" class="control-label" >Gender</label>
                    <div class="form-check-inline" id="gender1">
                        <div *ngFor="let g of gender" class="form-check form-check-inline">
                            <input 
                                type="radio" 
                                name="gender"
                                [id]="'gender_' + g.id"  
                                [value]="g.id" 
                                [(ngModel)]="selectedGender" 
                                (ngModelChange)="choose($event)" 
                                [checked]="selectedGender === g.id" 
                            >
                            <label [for]="'gender_' + g.id">{{ g.name }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-3">
                <div class="form-group">
                    <label for="Language"  class="control-label">Language</label>
                    <div class="form-check-inline" id="LanguageList">
                        <div *ngFor="let l of languageList" class="form-check form-check-inline">
                            <input type="checkbox" 
                                   name="Language"
                                   [id]="'language_' + l.languageID"
                                   [value]="l.languageID" 
                                   [ngModel]="selectedLanguage.includes(l.languageID)" 
                                   (ngModelChange)="onLanguageChange(l.languageID, $event)"
                             >
                             <label [for]="'language_' + l.languageID">{{l.languageName}}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        <label for="country" >Country</label>
                        <select name="country"  class="form-select" aria-label="Default select example" [(ngModel)]="PostEmployee_dto.CountryId" (ngModelChange)="OnchangeCountry($event)">
                            <option value="null">Select a country</option>
                            <option [ngValue]="c.countryId" *ngFor="let c of countryList"> {{c.countryName}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        <label for="State" >State</label>
                        <select name="State" id="State"  class="form-select" aria-label="Default select example" [(ngModel)]="PostEmployee_dto.StateId" (ngModelChange)="OnchangeState($event)">
                            <option [ngValue]="null">Select a state</option>
                            <option [ngValue]="s.stateId" *ngFor="let s of load_state_by_id">{{s.stateName}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        <label for="District" >District</label>
                        <select name="District" id="District" [(ngModel)]="PostEmployee_dto.DistrictId"  class="form-select" aria-label="Default select example">
                            <option value="null">Select a District</option>
                            <option [ngValue]="d.districtId" *ngFor="let d of load_District_by_id">{{d.districtName}}</option>  
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="File" class="control-label" >Image</label>
                    <input type="file" class="form-control" id="File" [(ngModel)]="PostEmployee_dto.file" (change)="onfilechange($event)"  style="color: red;">           
                    <img *ngIf="imagePreviewUrl" [src]="imagePreviewUrl" alt="Image preview" id="previousImage" class="rounded-square" height="50" width="75" style="border:1px solid black;" />                            
                </div>
            </div>
        </div>    
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnAdd" (click)="submitEmployee()">Save</button>
        <button type="button" class="btn btn-primary ml-2" [routerLink]="['']">Close</button>
    </div>
</div>
